# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg

# Virtual environment
.venv/

# IDE
.vscode/
.idea/

# Testing & Lint
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/tfplan

# Build artifacts
build/

# LocalStack data
volume/

# OS
.DS_Store
Thumbs.db
